# Suicide Rates Overview 1985 to 2014
문제: 
train set에는 1985년부터 2014년까지의 국가 별 자살 인구수 통계가
나와 있습니다. 

이 데이터를 가지고 다음 해 국가 별 자살 인구수를 예측하는 문제.

https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016/kernels

## 목차 

1. Collecting the data
2. Exploratory data analysis
3. Feature engineering
4. Modeling 
5. Testing

## 1. Collecting the data

In [1]:
import pandas as pd
import numpy as np

train = pd.read_csv('suicide_data/train.csv')
test = pd.read_csv('suicide_data/test_mini.csv')

## 2. Exploratory data analysis

country, year, sex, age group, count of suicides, population, suicide rate, country-year composite key, HDI for year, gdp_for_year, gdp_per_capita, generation (based on age grouping average).

In [2]:
train.head(5)

,country,year,sex,age,suicides_no,population,suicides_100k_pop,country_year,HDI_for_year,gdp_for_year,gdp_per_capital,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [3]:
train.shape

(26916, 12)

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26916 entries, 0 to 26915
Data columns (total 12 columns):
country              26916 non-null object
year                 26916 non-null int64
sex                  26916 non-null object
age                  26916 non-null object
suicides_no          26916 non-null int64
population           26916 non-null int64
suicides_100k_pop    26916 non-null float64
country_year         26916 non-null object
HDI_for_year         8364 non-null float64
gdp_for_year         26916 non-null object
gdp_per_capital      26916 non-null int64
generation           26916 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [5]:
train.isnull().sum()

country                  0
year                     0
sex                      0
age                      0
suicides_no              0
population               0
suicides_100k_pop        0
country_year             0
HDI_for_year         18552
gdp_for_year             0
gdp_per_capital          0
generation               0
dtype: int64

## 3. Feature engineering

In [6]:
# 필요없는 컬럼 삭제

features_drop = ['country_year', 'HDI_for_year', 'gdp_for_year']
test = test.drop(features_drop, axis=1)
train = train.drop(features_drop, axis=1)

In [7]:
train.head()

,country,year,sex,age,suicides_no,population,suicides_100k_pop,gdp_per_capital,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,796,Boomers

In [8]:
test.head()

,country,year,sex,age,population,suicides_100k_pop,gdp_per_capital,generation
0,Antigua and Barbuda,2015,female,55-74 years,6403,15.62,14853,Boomers
1,Antigua and Barbuda,2015,female,15-24 years,8561,0.00,14853,Millenials
2,Antigua and Barbuda,2015,female,25-34 years,7740,0.00,14853,Millenials
3,Antigua and Barbuda,2015,female,35-54 years,15323,0.00,14853,Generation X
4,Antigua and Barbuda,2015,female,5-14 years,8239,0.00,14853,Generation Z

In [9]:
train_test_data = [train, test]

sex_mapping = {"male": 0, "female": 1}
for dataset in train_test_data:
    dataset['sex'] = dataset['sex'].map(sex_mapping)

In [10]:
age_mapping = {"5-14 years":0,"15-24 years":1,"25-34 years":2,"35-54 years":3,"55-74 years":4,"75+ years":5}

for dataset in train_test_data:
    dataset['age'] = dataset['age'].map(age_mapping)

In [11]:
# country, generation labeling  & one -hot encoding

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()


train['generation'] = le.fit_transform(train['generation'])
test['generation'] = le.fit_transform(test['generation'])
train.head(10)

,country,year,sex,age,suicides_no,population,suicides_100k_pop,gdp_per_capital,generation
0,Albania,1987,0,1,21,312900,6.71,796,2
1,Albania,1987,0,3,16,308000,5.19,796,5
2,Albania,1987,1,1,14,289700,4.83,796,2
3,Albania,1987,0,5,1,21800,4.59,796,1
4,Albania,1987,0,2,9,274300,3.28,796,0
5,Albania,1987,1,5,1,35600,2.81,796,1
6,Albania,1987,1,3,6,278800,2.15,796,5
7,Albania,1987,1,2,4,257200,1.56,796,0
8,Albania,1987,0,4,1,137500,0.73,796,1
9,Albania,1987,1,0,0,311000,0.00,796,2
10,Albania,1987,1,4,0,144600,0.00,796,1
11,Albania,1987,0,0,0,338200,0.00,796,2
12,Albania,1988,1,5,2,36400,5.49,769,1
13,Albania,1988,0,1,17,319200,5.33,769,2
14,Albania,1988,0,5,1,22300,4.48,769,1
15,Albania,1988,0,3,14,314100,4.46,769,5
16,Albania,1988,0,4,4,140200,2.85,769,1
17,Albania,1988,1,1,8,295600,2.71,769,2
18,Albania,1988,1,4,3,147500,2.03,769,1
19,Albania,1988,1,2,5,262400,1.91,769,0
20,Albania,1988,0,2,5,279900,1.79,769,0
21,Albania,1988,1,3,4,284500,1.41,769,5
22,Albania,1988,1,0,0,317200,0.00,769,2
23,Albania,1988,0,0,0,345000,0.00,769,2
24,Albania,1989,0,5,2,22500,8.89,833,1
25,Albania,1989,0,2,18,283600,6.35,833,0
26,Albania,1989,0,3,15,318400,4.71,833,5
27,Albania,1989,0,4,6,142100,4.22,833,1
28,Albania,1989,0,1,12,323500,3.71,833,2
29,Albania,1989,1,3,7,288600,2.43,833,5
...,...,...,...,...,...,...,...,...,...
70,Albania,1994,0,0,1,371800,0.27,697,4
71,Albania,1994,1,0,0,344400,0.00,697,4
72,Albania,1995,0,2,13,232900,5.58,835,2
73,Albania,1995,0,4,9,178000,5.06,835,5
74,Albania,1995,1,5,2,40800,4.90,835,1
75,Albania,1995,1,1,13,283500,4.59,835,2
76,Albania,1995,0,1,11,241200,4.56,835,2
77,Albania,1995,0,5,1,25100,3.98,835,1
78,Albania,1995,0,3,14,375900,3.72,835,0
79,Albania,1995,1,2,7,264000,2.65,835,2
80,Albania,1995,1,3,8,356400,2.24,835,0
81,Albania,1995,0,0,6,376500,1.59,835,4
82,Albania,1995,1,4,2,180400,1.11,835,5
83,Albania,1995,1,0,2,348700,0.57,835,4
84,Albania,1996,0,5,2,25400,7.87,1127,1
85,Albania,1996,0,1,17,243600,6.98,1127,2
86,Albania,1996,0,2,14,235300,5.95,1127,2
87,Albania,1996,1,1,16,287700,5.56,1127,2
88,Albania,1996,1,5,2,41200,4.85,1127,1
89,Albania,1996,1,2,10,267900,3.73,1127,2
90,Albania,1996,0,3,12,379600,3.16,1127,0
91,Albania,1996,1,3,9,362000,2.49,1127,0
92,Albania,1996,0,4,3,179900,1.67,1127,5
93,Albania,1996,1,4,1,183100,0.55,1127,5
94,Albania,1996,0,0,2,380400,0.53,1127,4
95,Albania,1996,1,0,1,354100,0.28,1127,4
96,Albania,1997,0,2,36,236000,15.25,793,2
97,Albania,1997,0,1,33,244400,13.50,793,2
98,Albania,1997,0,5,3,25400,11.81,793,1
99,Albania,1997,0,3,30,380800,7.88,793,0

In [12]:


train['country'] = le.fit_transform(train['country'])
test['country'] = le.fit_transform(test['country'])

In [13]:

def normalize(X):
    return np.abs((X-np.mean(X))/np.std(X))
for dataset in train_test_data:
    dataset['gdp_per_capital']=normalize(dataset['gdp_per_capital'])
    dataset['population']=normalize(dataset['population'])

In [14]:
test.head(10)

,country,year,sex,age,population,suicides_100k_pop,gdp_per_capital,generation
0,0,2015,1,4,0.499234,15.62,0.473700,0
1,0,2015,1,1,0.498781,0.00,0.473700,3
2,0,2015,1,2,0.498953,0.00,0.473700,3
3,0,2015,1,3,0.497362,0.00,0.473700,1
4,0,2015,1,0,0.498848,0.00,0.473700,2
5,0,2015,1,5,0.500216,0.00,0.473700,4
6,0,2015,0,1,0.498829,0.00,0.473700,3
7,0,2015,0,2,0.499096,0.00,0.473700,3
8,0,2015,0,3,0.497772,0.00,0.473700,1
9,0,2015,0,0,0.498842,0.00,0.473700,2
10,0,2015,0,4,0.499364,0.00,0.473700,0
11,0,2015,0,5,0.500349,0.00,0.473700,4
12,1,2015,0,5,0.351012,34.38,0.468371,4
13,1,2015,0,1,0.234054,18.74,0.468371,3
14,1,2015,0,4,0.131513,14.31,0.468371,0
15,1,2015,0,2,0.189846,14.13,0.468371,3
16,1,2015,0,3,0.583597,12.25,0.468371,1
17,1,2015,1,1,0.211729,4.51,0.468371,3
18,1,2015,1,4,0.238293,3.55,0.468371,0
19,1,2015,1,2,0.178442,3.52,0.468371,3
20,1,2015,1,3,0.611967,3.13,0.468371,1
21,1,2015,1,5,0.218320,2.01,0.468371,4
22,1,2015,0,0,0.270061,1.06,0.468371,2
23,1,2015,1,0,0.244262,0.54,0.468371,2
24,2,2015,0,5,0.487702,19.56,0.934902,4
25,2,2015,0,4,0.452055,6.92,0.934902,0
26,2,2015,1,5,0.479433,4.96,0.934902,4
27,2,2015,0,3,0.425717,4.21,0.934902,1
28,2,2015,0,2,0.446950,3.91,0.934902,3
29,2,2015,1,4,0.438053,1.68,0.934902,0

## Feature Selection

In [15]:
X = train.drop(['suicides_no'],axis=1)  #independent columns
y = train['suicides_no']

In [16]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

#apply SelectKBest class to extract top 10 best features
bestfeatures = SelectKBest(score_func=chi2, k=5)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(10,'Score'))  #print 10 best features

               Specs          Score
5  suicides_100k_pop  276311.393418
0            country   46674.492960
4         population   22582.661530
7         generation    3725.876799
3                age    2685.384826
2                sex    1584.146986
6    gdp_per_capital     818.392358
1               year      66.925797

In [17]:
from sklearn.ensemble import ExtraTreesClassifier
import matplotlib.pyplot as plt
model = ExtraTreesClassifier()
model.fit(X,y)
#print(model.feature_importances_) #use inbuilt class feature_importances of tree based classifiers
#plot graph of feature importances for better visualization
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.nlargest(15).plot(kind='barh')
plt.show()

C:\Users\hyunju\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

## 4. Modeling

In [18]:

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from xgboost import XGBClassifier


import numpy as np

### Cross Validation ( K- fold)
  Cross Validation를 통한 validation 정확도 향상

In [19]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)


target = train['suicides_no']

### 4.1 SVM 모델

In [20]:
# clf = SVC()
# scoring = 'accuracy'
# score = cross_val_score(clf, train, target, cv=k_fold, n_jobs=1, scoring=scoring)
# print(score)

In [21]:
# print('Accuracy score:'+round(np.mean(score)*100,2))

### 4.2 XGBOOST 모델

In [22]:
clf = XGBClassifier()
scoring = 'accuracy'
score = cross_val_score(clf, train, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

KeyboardInterrupt:

In [ ]:
print('score:'+round(np.mean(score)*100,2))

## 5. Test

In [ ]:
clf = SVC()
clf.fit(train_data, target)

test_data = test
prediction = clf.predict(test_data)

In [ ]:
submission = pd.DataFrame({
        "Country": test["Country"],
        "Prediction_No": prediction
    })

submission.to_csv('submission_suicide.csv', index=False)

In [ ]:
submission = pd.read_csv('submission_suicide.csv')
submission.head()