In [2]:
# 60151196 문현주 

import numpy as np 
import pandas as pd 
from pandas import Series, DataFrame 

### 문제 1번 

 #파이썬 내부 함수 이용
dep_list=['cs','cs','dt','dcd','dt','as','as','ice','ice','ice']
sno_list = ['0001','0002','0003','0004','0005','0006','0007','0008','0009','0010']
gpa_list =[2.10,3.50,4.50,2.70,3.00,3.15,4.00,0.00,3.25,3.70]

#numpy 이용
dep_np= np.array(dep_list)
sno_np=np.array(sno_list)
gpa_np = np.array(gpa_list)

#pandas 이용
dep_pd= Series(dep_list)
sno_pd = Series(sno_list)
gpa_pd = Series (gpa_list)

In [4]:

### 문제 2번 


print (round(sum(gpa_list) / float(len(gpa_list)),2))

print (round(np.mean(gpa_np),2),round(np.median(gpa_np),2))

print (round(gpa_pd.mean(),2),round(gpa_pd.median(),2))

2.99
2.99 3.2
2.99 3.2

In [3]:

### 문제 3번 

def calculate_median(x):
    x = sorted(x)
    x_len = len(x)
    if x_len < 1:
        return None
    if x_len % 2 == 0 :
        return ( x[int((x_len-1)/2)] + x[int((x_len+1)/2)] ) / 2.0
    else:
        return x[int((x_len-1)/2)]

print(calculate_median(gpa_list))

3.2

In [4]:

### 문제 4번 

data={"dep":dep_list,
     "sno":sno_list,
     "gpa":gpa_list}

df= pd.DataFrame(data)
df= df.sort_values(['gpa'])
df[2:3]

   dep   sno  gpa
3  dcd  0004  2.7

In [5]:

### 문제 5번 

print('부서별 평균 GPA')
print(df.groupby("dep").mean())

print('\n 부서별 최대 GPA')
print(df.groupby("dep").max())

print('\n 부서별 최소 GPA')
print(df.groupby("dep").min())

부서별 평균 GPA
          gpa
dep
as   3.575000
cs   2.800000
dcd  2.700000
dt   3.750000
ice  2.316667

 부서별 최대 GPA
      sno  gpa
dep
as   0007  4.0
cs   0002  3.5
dcd  0004  2.7
dt   0005  4.5
ice  0010  3.7

 부서별 최소 GPA
      sno   gpa
dep
as   0006  3.15
cs   0001  2.10
dcd  0004  2.70
dt   0003  3.00
ice  0008  0.00

In [6]:

### 문제 6번 


data2={"dep":['cs','cs','dt','dt','dt','as','as','cs','dt','as'],
     "sno":['0001','0002','0003','0004','0005','0006','0007','0008','0009','0010'],
     "gpa":[2.10,3.50,4.50,2.70,3.00,3.20,4.00,0.00,3.20,3.70],
      "year":[2010,2010,2011,2011,2012,2012,2012,2012,2013,2013]}

df2= pd.DataFrame(data2)
df2
df2.pivot_table('gpa',index='dep',columns='year',aggfunc=np.mean)

year  2010  2011  2012  2013
dep
as     NaN   NaN   3.6   3.7
cs     2.8   NaN   0.0   NaN
dt     NaN   3.6   3.0   3.2